.animate__bottom-up {
  transform: translateY(40px);
  opacity: 0;
  transition: all 1s;
}

.animate__bottom-up.in-view {
  transform: translateY(0);
  opacity: 1;
}

.animate__left-right {
  transform: translateX(-40px);
  opacity: 0;
  transition: all 1s;
}

.animate__left-right.in-view {
  transform: translateX(0);
  opacity: 1;
}

.js-window {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.7s;
  &.leave-left {
    transform: translateX(-50%);
    opacity: 0;
  }
}
