footer.footer
  ul.footer__links
    li
      a(href='//documentation.image-charts.com') Documentation
    li
      a(href='//stackoverflow.com/questions/tagged/image-charts') Support
    li
      a(href='mailto:support@image-charts.com?Subject=Hello') Contact
    li
      a(href='//twitter.com/imagecharts') Twitter
    li
      a(href='privacy-policy.pug') Privacy Policy
    li
      a(href='licenses.pug') Licenses
    li
      a(href='terms-of-service.pug') Terms of Service
    li
      a(href='//github.com/image-charts/website') Fork this website
  span.footer__copyright Image-Charts
