if frontPage
  footer.footer
    ul.footer__links
      li
        a(href='https://twitter.com/imagecharts') Twitter
      li
        a(href='mailto:image-charts@fgribreau.com?Subject=Hello') Contact
      li
        a(href='privacy-policy.pug') Privacy Policy
      li
        a(href='licenses.pug') Licenses
      li
        a(href='terms-of-service.pug') Terms of Service
    span.footer__copyright Image-Charts
else
  footer.footer.footer--fixed
    ul.footer__links
      li
        a(href='https://twitter.com/imagecharts') Twitter
      li
        a(href='mailto:image-charts@fgribreau.com?Subject=Hello') Contact
      li
        a(href='privacy-policy.pug') Privacy Policy
      li
        a(href='licenses.pug') Licenses
      li
        a(href='terms-of-service.pug') Terms of Service

    span.footer__copyright Image-Charts
