doctype html
html(lang='fr')
  block vars
  include _head.pug

  body(class=frontPage?'js-home':'')
    block content

    include _footer.pug
    include _modal.pug
    script(src='script/main.js', charset='utf-8')
    script(src="//instant.page/2.0.0", type="module", integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8")
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PTHBZLF', height='0', width='0', style='display:none;visibility:hidden')
      
