#modal.modal.closed
  .modal__content
    #close-button.modal__close
    #mc_embed_signup
      form#mc-embedded-subscribe-form.form.validate(action='//image-charts.us13.list-manage.com/subscribe/post?u=7632ad10740f3ae2a799057f7&id=4c2f76213d', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          h2.subtitle 🚀 Be the next in line!
          .form__field-group
            label(for='mce-EMAIL')
              | Email Address
              span.asterisk *
            input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
          .form__field-group
            label(for='mce-FNAME')
              | First Name
              span.asterisk *
            input#mce-FNAME.required(type='text', value='', name='FNAME')
          .form__field-group
            label(for='mce-LNAME')
              | Last Name
              span.asterisk *
            input#mce-LNAME.required(type='text', value='', name='LNAME')
          .form__field-group
            label(for='mce-WHY')
              | To speed up your access, please tell us why are you interested by image-charts?
              span.asterisk *
            input#mce-WHY.required(type='text', value='', name='WHY')
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_7632ad10740f3ae2a799057f7_4c2f76213d', tabindex='-1', value='')
          .clear
            input#mc-embedded-subscribe.btn.btn__primary.btn__primary--dark(type='submit', value='Count me in !', name='subscribe')
    script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
    script(type='text/javascript').
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='WHY';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
.modal__background
