nav.nav(class=frontPage ? '' : 'nav--black')
  .nav__brand <a href="/">Image Charts</a>
  ul.nav__tabs
    li
      a(href='/#feature') Features
    li
      a(href='/#pricing') Pricing
    li
      a(href='//documentation.image-charts.com/gallery/') Chart Examples
    li.nav__tab--rwd.nav__tab--main
      a(href='//documentation.image-charts.com/') Get started
    li
      a(href='//eepurl.com/dGSzkj') 📥 Subscribe to changelog
