section#pricing.section.section--dark.section--fullheight
  .section__title
    .centered
      h2.subtitle Pricing
  .section__container.section--sibfooter
    .startup
      | You are a bootstrapping a <strong>startup 🦄 </strong> or in <strong>education 🎓</strong>? Need a discount 💸? <a href="mailto:support@image-charts.com">Contact us</a>!
    .pricing-switch-wrapper
      .pricing-switch
        input#pricing_by_month(type='radio', name='enterprise-plan-interval', value='monthly')
        label.btn.btn__primary(for='pricing_by_month') Pricing by month
        input#pricing_by_year(type='radio', name='enterprise-plan-interval', value='yearly', checked='')
        label.btn.btn__primary(for='pricing_by_year') Pricing by year
      .pricing_discount &rarr; Save 10%

    .pricing
      .pricing__item
        div.pricing__title Community
        div.pricing__price Free forever
        ul.pricing__content
          li Unlimited chart generation
          li Subsecond latency
          li Worldwide CDN
          li HTTP/2 support
          li WebP and Gif support
          li Image-charts watermark 😢
          li Image-charts.com domain
          li
            a(style="text-decoration: underline", href='//stackoverflow.com/questions/tagged/image-charts',rel="nofollow") Community support
          li &nbsp;
          li &nbsp;
        a.btn.btn__primary(href='//documentation.image-charts.com/') No need to sign up, use it now!

      .pricing__item.pricing__item--highlight
        div.pricing__title Enterprise
        div.js-enterprise-price.pricing__price 529€/year
        ul.pricing__content
          li Unlimited chart generation
          li Subsecond latency
          li Worldwide CDN
          li HTTP/2 support
          li WebP and Gif support
          li.win
            a(href="//documentation.image-charts.com/enterprise") No more watermark  🎉
          li Your domain
          li Priority support
          li Priorize roadmap
          li &nbsp;
        a.js-enterprise-subscription-url.btn.btn__primary(href="https://image-charts.com/enterprise/customers?plan_id=enterprise-yearly-2016") Subscribe now

      .pricing__item.pricing__item--highlight
        div.pricing__title Enterprise+
        div.js-enterprise-plus-price.pricing__price 1600€/year
        ul.pricing__content
          li Unlimited chart generation
          li Subsecond latency
          li Worldwide CDN
          li HTTP/2 support
          li WebP and Gif support
          li.win
            a(href="//documentation.image-charts.com/enterprise") No more watermark  🎉
          li Your domain
          li Priority support
          li Priorize roadmap
          li Retina
        a.js-enterprise-plus-subscription-url.btn.btn__primary(href="https://image-charts.com/enterprise/customers?plan_id=plan_FG5LuPl9Mi1fmD") Subscribe now

      .pricing__item
        div.pricing__title On-Premise
        div.pricing__price Starting at 1199€/year
        ul.pricing__content
          li Unlimited chart generation
          li Subsecond latency
          li Worldwide CDN
          li HTTP/2 support
          li WebP and Gif support
          li.win
            a(href="//documentation.image-charts.com/enterprise") No more watermark  🎉
          li Your domain
          li Priority support
          li Priorize roadmap
          li Your infrastructure
        a.btn.btn__primary.open-button(href="javascript:;") Subscribe now
