extends _layout.pug

block vars
  - page_title = "Image-Charts - Data Processing Addendum"
  - page_description = "Image-Charts GDPR coverage"

block content
  include _nav.pug
  section.section-policies
    h1 Data Processing Addendum
    p Lasted Updated: November 20, 2018.
    p This GDPR Data Processing Addendum (“DPA”) forms part of the Master Services Agreement or Terms of Use available at <a href="terms-of-service.pug">https://image-charts.com/terms-of-service.html</a> or such other location as the Terms of Use may be posted from time to time (as applicable, the “Agreement”), entered into by and between the Customer and Image-Charts. (“Image-Charts”), pursuant to which Customer has accessed Image-Charts’s Application Services as defined in the applicable Agreement. The purpose of this DPA is to reflect the parties’ agreement with regard to the processing of personal data in accordance with the requirements of Data Protection Legislation as defined below.

    p If the Customer entity entering into this DPA has executed an order form or statement of work with Image-Charts pursuant to the Agreement (an “Ordering Document”), but is not itself a party to the Agreement, this DPA is an addendum to that Ordering Document and applicable renewal Ordering Documents. If the Customer entity entering into this DPA is neither a party to an Ordering Document nor the Agreement, this DPA is not valid and is not legally binding. Such entity should request that the Customer entity that is a party to the Agreement executes this DPA.

    p This DPA shall not replace or supersede any agreement or addendum relating to processing of personal data negotiated by Customer and referenced in the Agreement, and any such individually negotiated agreement or addendum shall apply instead of this DPA.

    p In the course of providing the Application Services to Customer pursuant to the Agreement, Image-Charts may process personal data on behalf of Customer. Image-Charts agrees to comply with the following provisions with respect to any personal data submitted by or for Customer to the Application Services or collected and processed by or for Customer through the Application Services. Any capitalized but undefined terms herein shall have the meaning set forth in the Agreement.

    p Data Processing Terms

    p In this DPA, “Data Protection Legislation” means European Directives 95/46/EC and 2002/58/EC (as amended by Directive 2009/136/EC) and any legislation and/or regulation implementing or made pursuant to them, or which amends, replaces, re-enacts or consolidates any of them (including the General Data Protection Regulation (Regulation (EU) 2016/279)), and all other applicable laws relating to processing of personal data and privacy that may exist in any relevant jurisdiction.

    p “data controller”, “data processor”, “data subject”, “personal data”, “processing”, and “appropriate technical and organisational measures” shall be interpreted in accordance with applicable Data Protection Legislation;

    p The parties agree that Customer is the data controller and that Image-Charts is its data processor in relation to personal data that is processed in the course of providing the Application Services. Customer shall comply at all times with Data Protection Legislation in respect of all personal data it provided to Image-Charts pursuant to the Agreement.

    p The subject-matter of the data processing covered by this DPA is the Application Services ordered by Customer either through Image-Charts’s website or through an Ordering Document and provided by Image-Charts to Customer via www.image-charts.com, or as additionally described in the Agreement or the DPA. The processing will be carried out until the term of Customer’s ordering of the Application Services ceases. Further details of the data processing are set out in Annex 1 hereto.

    p In respect of personal data processed in the course of providing the Application Services, Image-Charts:

    ul.decimal
      li shall process the personal data only in accordance with the documented instructions from Customer (as set out in this DPA or the Agreement or as otherwise notified by Customer to Image-Charts (from time to time) If Image-Charts is required to process the personal data for any other purpose provided by applicable law to which it is subject, Image-Charts will inform Customer of such requirement prior to the processing unless that law prohibits this on important grounds of public interest;
      li shall notify Customer without undue delay if, in Image-Charts’s opinion, an instruction for the processing of personal data given by Customer infringes applicable Data Protection Legislation;
      li shall implement and maintain appropriate technical and organisational measures designed to protect the personal data against unauthorised or unlawful processing and against accidental loss, destruction, damage, theft, alteration or disclosure. These measures shall be appropriate to the harm which might result from any unauthorised or unlawful processing, accidental loss, destruction, damage or theft of the personal data and having regard to the nature of the personal data which is to be protected;
      li may hire other companies to provide limited services on its behalf, provided that Image-Charts complies with the provisions of this Clause. Any such subcontractors will be permitted to process personal data only to deliver the services Image-Charts has retained them to provide, and they shall be prohibited from using personal data for any other purpose. Image-Charts remains responsible for its subcontractors’ compliance with the obligations of this DPA. Any subcontractors to whom Image-Charts transfers personal data will have entered into written agreements with Image-Charts requiring that the subcontractor abide by terms substantially similar to this DPA. A list of subcontractors is available to the Customer <a href="gdpr-subprocessors.pug">here</a>. If Customer requires prior notification of any updates to the list of subprocessors, Customer can request such notification in writing by emailing support@image-charts.com. Image-Charts will update the list within thirty (30) days of any such notification if Customer does not legitimately object within that timeframe. Legitimate objections must contain reasonable and documented grounds relating to a subcontractor’s non-compliance with applicable Data Protection Legislation. If, in Image-Charts’s reasonable opinion, such objections are legitimate, the Customer may, by providing written notice to Image-Charts, terminate the Agreement.
      li shall ensure that all Image-Charts personnel required to access the personal data are informed of the confidential nature of the personal data and comply with the obligations sets out in this Clause;
      li at the Customer’s request and cost (and insofar as is possible), shall assist the Customer by implementing appropriate and reasonable technical and organisational measures to assist with the Customer’s obligation to respond to requests from data subjects under Data Protection Legislation (including requests for information relating to the processing, and requests relating to access, rectification, erasure or portability of the personal data) provided that Image-Charts reserves the right to reimbursement from Customer for the reasonable cost of any time, expenditures or fees incurred in connection with such assistance;
      li when the General Data Protection Regulation (Regulation (EU) 2016/279) comes into effect, shall take reasonable steps at the Customer’s request and cost to assist Customer in meeting Customer’s obligations under Article 32 to 36 of that regulation taking into account the nature of the processing under this DPA, provided that Image-Charts reserves the right to reimbursement from Customer for the reasonable cost of any time, expenditures or fees incurred in connection with such assistance;
      li at the end of the applicable term of the Application Services, upon Customer’s request, shall securely destroy or return such personal data to Customer;
      li may transfer personal data from the EEA to the US for the purposes of this DPA pursuant to the EU-US Privacy Shield provided that Image-Charts maintains its certification under the EU-US Privacy Shield;
      li shall allow Customer and its respective auditors or authorized agents to conduct audits or inspections during the term of the Agreement, which shall include providing reasonable access to the premises, resources and personnel used by Image-Charts in connection with the provision of the Application Services, and provide all reasonable assistance in order to assist Customer in exercising its audit rights under this Clause. The purposes of an audit pursuant to this Clause include to verify that Image-Charts is processing personal data in accordance with its obligations under the DPA and applicable Data Protection Legislation. Notwithstanding the foregoing, such audit shall consist solely of: (i) the provision by Image-Charts of written information (including, without limitation, questionnaires and information about security policies) that may include information relating to subcontractors; and (ii) interviews with Image-Charts’s IT personnel.  Such audit may be carried out by Customer or an inspection body composed of independent members and in possession of the required professional qualifications bound by a duty of confidentiality. For the avoidance of doubt no access to any part of Image-Charts’s IT system, data hosting sites or centers, or infrastructure will be permitted;
      li If Image-Charts becomes aware of any accidental, unauthorised or unlawful destruction, loss, alteration, or disclosure of, or access to the personal data that is processed by Image-Charts in the course of providing the Application Services (an “Incident”) under the Agreement it shall without undue delay notify Customer and provide Customer (as soon as possible) with a description of the Incident as well as periodic updates to information about the Incident, including its impact on Customer Content. Image-Charts shall additionally take action to investigate the Incident and reasonably prevent or mitigate the effects of the Incident;
      li Image-Charts shall provide information requested by Customer to demonstrate compliance with the obligations set out in this DPA.
    
    h2 Annex 1

    h3 Details of the Data Processing

    p Image-Charts shall process information to provide the Application Services pursuant to the Agreement. Image-Charts shall process information sent by Customer’s end users identified through Customer’s implementation of the Application Services.

    h3 Types of Personal Data
    
    ul.disc
      li URL
      li City, Region, Country, parsed from IP
      li Browser
      li Referrer
      li Additional detail regarding what information Customer may send to Image-Charts can asked here: <a href="mailto:support@image-charts.com">support@image-charts.com</a>.

    h3 Categories of Data Subjects

    p Users of the Customers web and mobile applications, reports, chat bots and everything that display Image-Charts charts.

    h3 Processing Activities

    p The provision of Application Services by Image-Charts to Customer.
