extends _layout.pug

block vars
  - page_title = "Image-Charts Subprocessors"
  - page_description = "Image-Charts GDPR subprocessors coverage"

block content
  include _nav.pug
  section.section-policies
    h1 Image-Charts, subprocessors
    
    p Last update: November 20, 2018 *
    
    p Image-Charts uses certain subprocessors to assist it in providing to its customers the Application Services as described in the Master Services Agreement or Terms of Use available at <a href="terms-of-service.pug">terms-of-service</a> or such other location as the Terms of Use may be posted from time to time (as applicable, the “Agreement”). Defined terms used herein shall have the same meaning as defined in the Agreement.
    
    p A subprocessor is a third party data processor engaged by Image-Charts, including entities from within the Image-Charts group, who has or potentially will have access to or process Customer Content (which may contain Personal Data). Image-Charts engages different types of subprocessors to perform various functions as explained in the tables below.

    p Infrastructure: We use the following subprocessors to provide our cloud infrastructure environment and storage of our Customer Content:
    
    table
      thead
        tr
          th Subprocessor
          th Country of processing
      tbody
        tr
          td Google Inc.
          td USA, Belgium

    p Processing of Customer Content: We work with various subprocessors that monitor, maintain and otherwise support the Application Services. In order to provide this functionality these subprocessors may, but not necessarily will, have access to Customer Content:
    
    table
      thead
        tr
          th Subprocessor
          th Country
          th Purpose
      tbody
        tr
          td Crisp
          td France
          td Customer Account Administration and Support
        tr
          td Google Inc.
          td USA, Belgium
          td Monitoring and reporting
        tr
          td Gitlab, Inc
          td USA
          td Backend for Image-Charts Platform
        tr
          td Cloudflare, Inc
          td USA
          td DNS and CDN provider


    p * Note, the list of subprocessors applies to any new Image-Charts customers as of that date, or existing Image-Charts customers who have not otherwise received notice of a different effective date of this list.
