extends _layout.pug

block vars
  - var page_title = "Image-Charts - A safe and fast drop-in replacement for Google Image Charts, no more server-side rendering pain, 1 url = 1 chart"
  - var page_description = "Easiest way to embed charts in email or bot. Finally animated charts (gif) in emails!"
  - var frontPage = true

block content
  header.header
    include _nav.pug
    .header__content
      .header__catchline
        h1.title.title--light Charts, simple as a URL
        p.text.text--light No more server-side rendering pain, 1 url = 1 chart
        //- p.text.text--light A safe and fast replacement for Google Image Charts
        // Because Google Image Charts is deprecated and can be shutdown at any time. I needed a fast, safe, drop-in-place replacement for Google Image Charts.
      .header__presentation
        .window.window--header.js-window
          .window__header
            .window__buttons
              .window__button.window__button--quit
              .window__button.window__button--reduce
              .window__button.window__button--enlarge
            .window__url
              p.ellipsis.reverse-ellipsis
                span.window__url--ic &nbsp;
            .window__url-copy.hide Copied !
          .window__content.window__content--centered
        .flip.hide.js-flip.flip--animation
          .window.window--header.window--code-header.js-window2.flip__front
            .window__header
              .window__buttons
                .window__button.window__button--quit
                .window__button.window__button--reduce
                .window__button.window__button--enlarge
              .window__title
                p VIM
            .window__content.window__editor
              ol.code.js-code--header
                li
                  span.code
                    span.v &lttable class="report-email"&gt
                li
                  span.code
                    span.v &nbsp;&nbsp;&lttbody&gt
                li
                  span.code
                    span.v &nbsp;&nbsp;&nbsp;&nbsp;&lttr&gt&lttd&gt <span class="chat__cursor" id="cursor--first" aria-hidden="true"></span>
                li
                  span.code
                    span.v &nbsp;&nbsp;&nbsp;&nbsp;&lt/tr&gt&lt/td&gt
                li
                  span.code
                    span.v &nbsp;&nbsp;&lt/tbody&gt
                li
                  span.code
                    span.v &lt/table&gt
          .window.window--header.js-window3.flip__back
            .window__header
              .window__buttons
                .window__button.window__button--quit
                .window__button.window__button--reduce
                .window__button.window__button--enlarge
              .window__title
                p Gmail
            .window__content
              .gmail
                .gmail__header
                  .gmail__brand
                    img(src="img/header-glogo.png")
                  .gmail__search-bar
                  .gmail__avatar
                      img(src="img/header-avatar.png")
                .gmail__content
                  .gmail__sidenav
                    .gmail__compose
                    .gmail__list-item.active
                    .gmail__list-item
                    .gmail__list-item
                    .gmail__list-item
                    .gmail__list-item
                  .gmail__mail
                    .gmail__mail-title Alert Report
                    .mail.js-mail
                      .mail__content
                        .mail__title Alert Report
                        .mail__fake-line
                        .mail__fake-line
                        .mail__fake-line.mail__fake-line--thin
                        img(src="https://image-charts.com/chart?chd=t:58,42,31,25,36,49,61,74,78,89&chs=320x200&cht=bvs&chxt=y&icac=fgribreau&ichm=3ee5f8d7082a647f9132ec68a4caf23ac53da0a704503cb383d4f3b0fb14d7a1")
                        .mail__fake-line.mail__fake-line--greet
  .js-site-content
    section#feature.section
      .feature
        .feature__container
          .feature__description
            .js-animate.animate__left-right
              h2.subtitle Easiest way to embed charts in email or bot
              p.text
                | No need to spend hours to setup and develop a complex server-side solution. We spent days tuning our chart generation backend so you don't have to.
              p.text
                | <strong>One url = one chart.</strong>
          .feature__illustration
            .window.js-animate.animate__bottom-up.js-window--chat
              .window__header
                .window__buttons
                  .window__button.window__button--quit
                  .window__button.window__button--reduce
                  .window__button.window__button--enlarge
                .window__title
                  p Slack
              .window__content
                article.chat
                  .chat__content
                  .chat__input
                    span.chat__message Type a message...
                    .chat__send Send

      .feature
        .feature__container
          .feature__description
            .js-animate.animate__left-right
              h2.subtitle Gifs in email = awesome
              p.text Delightful effect guaranteed, communicate better with animated charts in your reporting emails. No more server-side gif rendering, headless browser tricks and painful email attachements.
              p.text <strong>We do the hard work.</strong>
              p.text <strong>You get the benefits.</strong>
          .feature__illustration
            .window.window--header.js-animate.animate__bottom-up.js-window--gif
              .window__header
                .window__buttons
                  .window__button.window__button--quit
                  .window__button.window__button--reduce
                  .window__button.window__button--enlarge
                .window__title
                  p Gmail
              .window__content
                button#js-gmail__open-button.gmail__open-button Open the mail
                .window__veil--gif
                .gmail
                  .gmail__header
                    .gmail__brand
                      img(src="img/header-glogo.png")
                    .gmail__search-bar
                    .gmail__avatar
                        img(src="img/header-avatar.png")
                  .gmail__content
                    .gmail__sidenav
                      .gmail__compose
                      .gmail__list-item.active
                      .gmail__list-item
                      .gmail__list-item
                      .gmail__list-item
                      .gmail__list-item
                    .gmail__mail.gmail__mail--gif.h-invisible
                      .gmail__mail-title Company Monthly report
                      .mail
                        .mail__content
                          .mail__fake-line
                          .mail__fake-line
                          .mail__fake-line.mail__fake-line--thin
                          .js-mail__gif
                          .mail__fake-line.mail__fake-line--greet


      .feature
        .feature__container
          .feature__description
            .js-animate.animate__left-right
              h2.subtitle Google Image Charts Drop-In replacement
              p.text Google Image Charts is deprecated since 2012, not supported since 2015 and can be shutdown anytime soon.
              p.text Image-charts aims to be fully compatible with Google Charts API while still extending it. Don&apos;t build on unstable foundation.
          .feature__illustration
            .window.window--code.js-animate.animate__bottom-up
              .window__header
                .window__buttons
                  .window__button.window__button--quit
                  .window__button.window__button--reduce
                  .window__button.window__button--enlarge
                .window__title
                  p Git diff
              .window__content.window__editor
                ol.code
                  li
                    span.code
                      span.v &lttable class="report-email"&gt
                  li
                    span.code
                      span.v &nbsp;&nbsp;&lttbody&gt
                  li
                    span.code
                      span.v &nbsp;&nbsp;&nbsp;&nbsp;&lttr&gt&lttd&gt
                  li.code--tobe-removed
                    span.code &ltimg src="https://
                      span.code--tobe-changed
                        | chart.googleapis.com
                      | /chart?chd=t:_,30,-30,50,80,200&chs=320x200&cht=bvs&chxt=y"/&gt
                  li.code--tobe-added
                    span.code &ltimg src="https://
                      span.code--tobe-changed
                        | image-charts.com
                      | /chart?chd=t:_,30,-30,50,80,200&chs=320x200&cht=bvs&chxt=y"/&gt
                  li
                    span.code
                      span.v &nbsp;&nbsp;&nbsp;&nbsp;&lt/tr&gt&lt/td&gt
                  li
                    span.code
                      span.v &nbsp;&nbsp;&lt/tbody&gt
                  li
                    span.code
                      span.v &lt/table&gt

      .feature
        .feature__container
          .feature__description
            .js-animate.animate__left-right
              h2.subtitle Reliable and blazing fast
              p.text Making chart generation fast at scale is hard.
              p.text &lt;500ms everywhere around the world, 99,99% uptime over the past 3 months.
          .feature__illustration
            .map.js-animate.animate__bottom-up
              .map__dot.map__dot--new-york
              .map__dot.map__dot--california
              .map__dot.map__dot--europe
              .map__dot.map__dot--japan
                .map__popover
                  .map__popover-city  Tokyo
                  .map__popover-ping
                    | Latency
                    .map__popover-number 0
              img.feature__image(src='img/world-map.png', alt='')

    section.section.section--flex
      .section__title
        .centered
          h2.subtitle Our customers generate more than <strong>1 million charts</strong> each month
      .section__container
        .company
          each company in 'discoverychannel.fr,sanebox.com,opteo.com,salesforce.com,ortec.com,rxinsider.com,gapac.com,rynekpierwotny.com,redsmin.com,xfinity.com,ampleforth.org.uk,awesomejar.com,mitsucari.com,rightrelevance.com,spothopperapp.com,podio.com,getbeyondroi.com,ccsf.edu,g2crowd.com,simplepart.com,ezyinsights.com'.split(',')
            a.company__item(href="http://"+company, rel="nofollow")
              img(src="https://logo.clearbit.com/" + company + "?size=128&greyscale=true")
              span=company

    include _pricing.pug
    
    section.section.section--fullheight.section--flex
      .section__title
        .centered
          h2.subtitle Join hundreds of developers
          p.text We've built Image-Charts for them, they love us back!
      .section__container
        .customer
          .customer__wrapper
            .customer__item
              .customer__picture
                img(src='img/testimonial-gallisiardi.jpg', alt='')
              .customer__name Gianmaria Allisiardi
              .customer__job Web Developer
              .customer__testimonials
                | I love your service. I write a telegram bot for IOTA price.
            .customer__item
              .customer__picture
                img(src='img/testimonial-jdrean.jpeg', alt='')
              .customer__name Jocelyn Dréan
              .customer__job Email à table Founder
              .customer__testimonials
                | I use Image-Charts everyday to integrate charts into marketing emails for my clients. Can't live without it!
            .customer__item
              .customer__picture
                img(src='img/testimonial-aremaud.jpg', alt='')
              .customer__name  Alexandre Remaud
              .customer__job  Fullstack Developer
              .customer__testimonials
                | Holy crap, @image-charts is phenomenal! I was just about to hire a programmer to integrate charts into my reporting emails. Mind Blown!
            .customer__item
              .customer__picture
                img(src='img/testimonial-jbreux.jpg', alt='')
              .customer__name Julien Breux
              .customer__job CTO @BAP
              .customer__testimonials
                | Image charts is very useful to generate my team reporting
            .customer__item
              .customer__picture
                img(src='img/testimonial-rbaumier.png', alt='')
              .customer__name Romain Baumier
              .customer__job Engineer @Redsmin
              .customer__testimonials
                | Could not imagine my Slack bot without image-charts!
            .customer__item
              .customer__picture
                img(src='img/testimonial-mblanchard.jpeg', alt='')
              .customer__name Malo Blanchard
              .customer__job Full-stack engineer @Bringr
              .customer__testimonials
                | Image-charts is so useful, I really love it. Haven't found anything close to it!
            .customer__item
              .customer__picture
                img(src='img/testimonial-crousseau.jpeg', alt='')
              .customer__name Celya Rousseau
              .customer__job Full-stack engineer @iAdvize
              .customer__testimonials
                | Ohh @image-charts where have you been all this time?
            .customer__item
              .customer__picture
                //- img(src='https://avatars.io/twitter/BastoonNorecrem', alt='')
                img(src='img/testimonial-bmerceron.jpeg', alt='')
              .customer__name Bastien Merceron
              .customer__job  Fullstack Developer
              .customer__testimonials
                | Integrated @image-charts this week and I’m quickly becoming a fan boy!
        .draggable
          span.draggable__entitled Scroll
          .draggable__cursor
            span.draggable__arrow.draggable__arrow--left
            span.draggable__arrow.draggable__arrow--right
          span.draggable__indicator
