extends _layout.pug

block vars
  - page_title = "Image-Charts - Licenses of everything we use"
  - page_description = "We've built image charts on the shoulders of giant, this page list the license."
  - frontPage = false
  
block content
  include _nav.pug
  section.section-policies
    h1 Image-Charts licenses

    pre(style="white-space: pre-line;")
      include ./licenses.txt
