extends _layout.pug

block vars
  - page_title = "Image-Charts - Presskit"
  - page_description = "Logos and description of Image-Charts"
  - frontPage = false
  
block content
  include _nav.pug
  section.section-presskit
    h1 Image-Charts Presskit
    
    p
      ul
        li
          a(href="logo/rgb-transparent@128.png") logo transparent 128px
        li
          a(href="logo/rgb-transparent@256.png") logo transparent 256px
        li
          a(href="logo/rgb-transparent@512.png") logo transparent 512px
        li
          a(href="logo/rgb-transparent@1024.png") logo transparent 1024px
        li
          a(href="logo/rgb-transparent@2048.png") logo transparent 2048px
        li
          a(href="logo/rgb-transparent@2048.png") logo transparent 2048px
        
        li
          a(href="logo/rgb-white@128.png") logo white 128px
        li
          a(href="logo/rgb-white@256.png") logo white 256px
        li
          a(href="logo/rgb-white@512.png") logo white 512px
        li
          a(href="logo/rgb-white@1024.png") logo white 1024px
        li
          a(href="logo/rgb-white@2048.png") logo white 2048px
        li
          a(href="logo/rgb-white@2048.png") logo white 2048px
      
        li
          a(href="logo/rgb-rect-white@128.png") logo rect white 128px
        li
          a(href="logo/rgb-rect-white@256.png") logo rect white 256px
        li
          a(href="logo/rgb-rect-white@512.png") logo rect white 512px
        li
          a(href="logo/rgb-rect-white@1024.png") logo rect white 1024px
        li
          a(href="logo/rgb-rect-white@2048.png") logo rect white 2048px
        li
          a(href="logo/rgb-rect-white@2048.png") logo rect white 2048px
