.chat {
  color: $font-color;
  font-weight: 300;
  font-size: 1rem;
}

.chat__input {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-top: 1px solid #d9d9d9;
  border-radius: 0px 0px 4px 4px;
}

.chat__content {
  background-color: #fafafa;
  overflow: hidden;
  height: 280px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat__anwser {
  background-color: #eaeaea;
  color: #000;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 50px;
  margin-top: 10px;
  animation: chat-message 0.3s;
}

.chat__anwser img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.chat__anwser--respond + .chat__anwser--respond {
  margin-top: 3px;
}

.chat__anwser--respond {
  // little hack to display the graph outside its container
  padding: 0px;
}

.chat__anwser--reverse {
  background-color: #0084ff;
  color: #fff;
  margin-right: 0px;
  margin-left: 50px;
  & + & {
    margin-top: 3px;
  }
}

@keyframes chat-message {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.chat__message {
  display: block;
  color: #959595;
  width: 225px;
}

.chat__send {
  background-color: #2f7ef5;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
}

.chat__cursor {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
  animation-delay: 300ms;
}

@keyframes caret {
  from,
  to {
    border-color: #000;
  }
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 900px) {
  .chat__content {
    padding: 0 20px 10px;
    height: 190px;
  }
}
