.flip {
  position: relative;
  perspective: 600px;
  margin: 0 auto;
  width: 590px;
  max-width: 100%;

  height: 349px;
}

.flip__front {
  position: absolute;
  top: 0;
  z-index: 900;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.7s ease-in-out;
}

.flip__back {
  position: absolute;
  top: 0;
  z-index: 1000;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.7s ease-in-out;
}

.flip.flip--flipped {
  .flip__front {
    transform: rotateY(180deg);
  }
  .flip__back {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.flip--animation {
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.7s;

  &.come-top {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .flip {
    width: inherit;
    max-width: 590px;
    // max-width: 100%;

    // height: 349px;
  }
}
