.window {
  background-color: #fff;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.11);
}

.window__header {
  position: relative;
  display: flex;
  background-color: rgb(232, 232, 232);
  padding: 3px 9px;
  border-radius: 4px 4px 0 0;
}

.window__buttons {
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  flex-shrink: 0;
}

.window__button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.window__button--quit {
  background-color: #df7065;
}

.window__button--enlarge {
  background-color: #5bcc8b;
}

.window__button--reduce {
  background-color: #e6bb46;
}

.window__title {
  text-align: center;
  flex-grow: 1;
  padding-right: 43px;

  p {
    margin: 0;
    color: #333;
    text-shadow: 1px 1px 8px #fff;
  }
}

.window__url {
  position: relative;
  flex-grow: 1;
  border-radius: 4px;
  background-color: #fff;
  padding: 6px 14px 4px;

  transform: scale(1);
  transform-origin: center -15px;
  transition: transform 0.5s;

  font-size: 0.7rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  p,
  span {
    margin: 0;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reverse-ellipsis {
  text-overflow: ellipsis;
  position: relative;
  background-color: #fff;

  &.reset > span {
    float: none;
  }
}

.reverse-ellipsis > span {
  min-width: 100%;
  position: relative;
  display: inline-block;
  float: right;
  overflow: visible;
  background-color: inherit;
  text-indent: 0.5em;
}

.reverse-ellipsis > span:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: inherit;
  z-index: 200;
  left: -0.5em;
}

.window__editor {
  transition: all 500ms ease-out;

  .code {
    font: 0.7rem Monaco, Courier New;
    color: #ccc;
    list-style: decimal;
    padding: 0;
    margin: 0;
    perspective: 500px;
    .code {
      color: #777;
    }

    li {
      padding: 9px 4px;
      list-style: decimal;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      list-style-position: inside;

      &.code--tobe-added {
        opacity: 0;
        display: none;
        transform: rotateX(60deg);

        &.code--displayed {
          display: list-item;
          opacity: 1;
          transition: all 500ms ease-out 1s;
          transform: translateY(0px) rotateX(0deg);
        }

        &.code--added {
          background: rgba(139, 195, 74, 0.2);
          transition: all 500ms ease-out;
        }
      }

      &.code--removed {
        background: rgba(255, 87, 34, 0.2);
        transition: all 500ms ease-out;
      }

      transform: translateY(66px);
      opacity: 0;

      &.code--animate {
        transition: all 200ms ease-out;
        transform: translateY(0px);
        opacity: 1;
      }

      .code--tobe-changed {
        color: #333;
        display: inline-block;
        position: relative;
        &:before {
          background-color: rgba(0, 0, 0, 0.1);
          display: block;
          content: "";
          position: absolute;
          z-index: -1;
          top: -5px;
          left: 0;
          width: 0;
          bottom: -5px;
          padding: 0;
          margin: 0;
        }
      }

      .code--tobe-changed.code--changed {
        &:before {
          transition: width 300ms ease-out;
          width: 100%;
        }
      }
    }
  }
}

.window--header {
  .window__content {
    min-height: 320px;
  }
  &.js-window--gif .window__content {
    min-height: inherit;
    position: relative;
  }
  .mail__content img {
    margin: 16px auto;
  }
}

.window__veil--gif {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  transition: opacity 0.3s;
  &.hidden {
    opacity: 0;
  }
}

.window__url.zoom {
  transform: scale(1.5);
}

.window__url--ic-update {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 0;
    transition: width 300ms ease-out;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.start::before {
    width: 100%;
  }
}

.window__content--centered {
  display: flex;
  align-items: center;
  padding: 20px;
  * {
    margin: 0 auto;
  }
  img {
    display: block;
    max-width: 100%;
  }
}

.window__overline--copied {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    transition: width 300ms ease-out;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.start::before {
    width: 100%;
  }
}

.window__url-copy {
  position: absolute;
  bottom: -22px;
  right: 5px;
  font-size: 0.7rem;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  padding: 3px 5px;

  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #000;
    left: 0;
    right: 0;
    top: -5px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .window--header {
    .window__content {
      min-height: 250px;
    }
  }

  .header__presentation {
    .window {
      min-height: 250px;
    }
  }
}

@media screen and (max-width: 400px) {
  .window__content--centered {
    img {
      width: 100%;
    }
  }
}
