.header {
  background: $dark-color;
  background: -webkit-linear-gradient(to bottom, $dark-color, #26262a);
  background: linear-gradient(to bottom, $dark-color, #26262a);

  background-size: cover;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #333c46;
}

.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .header__content {
    height: auto;
  }
}

.header__catchline {
  padding: 0 25px;
  width: 50%;
  transform: translateX(50%);
  transition: transform 1s;
  text-align: center;

  h1 {
    opacity: 0;
    animation: textApparition 1s;
    animation-fill-mode: forwards;
  }

  p {
    opacity: 0;
    font-size: 1.2rem;
    color: $font-color;
    animation: textApparition 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  a {
    margin-top: 20px;
  }
}

.header__presentation {
  transform: translateX(50%);
  opacity: 0;
  transition: all 1s;
  width: 50%;
  & > * {
    margin: 0 auto;
  }

  .window {
    width: 590px;
    max-width: 100%;
    min-height: 350px;
  }
}

.header.js-start-animate {
  .header__catchline {
    transform: translateX(0%);
  }
  .header__presentation {
    transform: translate(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .header__content {
    flex-direction: column;
    justify-content: space-around;
    min-height: auto;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .header__catchline {
    width: 100%;
    transform: translateX(0%);
  }

  .header__presentation {
    transform: translateY(50%);
    margin-top: 20px;
    width: 100%;
    padding: 0 25px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .header__presentation .window.js-window {
    max-width: 465px;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  .header__presentation .window.js-window {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .header__content {
    padding-top: 90px;
  }
}

@keyframes textApparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-height: 600px) {
  .header.js-start-animate .header__catchline {
    margin-top: 50px;
  }
}
@media screen and (max-height: 550px) {
  .header.js-start-animate .header__catchline {
    margin-top: 80px;
  }
}
