.nav {
  @include clearfix;
  left: 0;
  height: 120px;
  width: 100%;
  padding: 10px 50px 0 50px;

  top: -120px;
  transition: top 1s;
}

.nav__brand {
  float: left;
  position: relative;

  a {
    background: no-repeat url("../logo/rgb-bw@512.png") 50% 50%;
    background-size: contain;
    text-indent: -999px;
    display: block;
    height: 100px;
    width: 150px;
  }
}

.nav__tabs {
  float: right;
  line-height: 110px;

  font-size: 11px;
  font-family: $font-style;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  li {
    display: inline-block;

    & + li {
      margin-left: 20px;
    }
  }

  a {
    color: $font-color;
    &:hover {
      color: $font-color-light;
    }
  }
}

.nav__tab--main {
  a {
    color: $font-color-light;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    position: initial;
    height: auto;
  }

  .nav__brand {
    float: none;
  }

  .nav__tabs {
    float: none;
    line-height: 40px;
  }

  .nav__tabs li,
  .nav__tabs li + li {
    display: block;
    margin: 0;
  }
}

.header.js-start-animate {
  .nav {
    top: 0;
  }
}

.nav.nav--black {
  .nav__brand {
    a {
      background: no-repeat url("../logo/rgb-transparent@512.png") 50% 50%;
      background-size: contain;
    }
  }

  .nav__tabs {
    a {
      color: $font-color-medium;
      &:hover {
        color: $font-color;
      }
    }
  }

  .nav__tab--main {
    a {
      color: $font-color;
    }
  }
}
