// Font
$font-base: "Roboto", Helvetica, Arial, sans-serif;
$font-style: "Raleway";

// Colors
$dark-color: #151517; // Primary - header-bg
$bg-color: #fff; //Background

$font-color: #7d8998; // color used for paragraph in light background
$font-color-medium: #aaa; // <p> color in light bg
$font-color-light: #fff; // color used for title in dark background
$text-color-light: #89929e; // color used for paragraph in dark background

$color-separator: #e6edf4;

// Grid
$container-width: 990px;
